/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Soul";
  src: url("../assets/MySoul-Regular.ttf") format("truetype");
  font-display: swap;
}
@theme {
  --animation-loading: loading 2s linear infinite;
  --warna-asap: whitesmoke;
  --color-asap: var(--warna-asap);
  --color-primary: goldenrod;
  --font-roboto: "Roboto", Arial;
  --font-soul: "Soul", sans-serif;
  --spacing-5: 10.5px;
}

@layer base {
  * {
    @apply font-roboto;
    /* font-display: swap; */
  }
  h1 {
    @apply font-soul;
  }
  button {
    border: 2px solid black;
    @apply rounded-md bg-gray-300 p-1 cursor-pointer;
  }
}
@layer components {
  p.error {
    @apply text-red-400 text-sm italic
  }
}
@utility border-std {
  /* @apply border-2 border-solid border-asap; */
  border: 2px solid;
  @apply border-asap;
}
@utility loader {
  /* grid-column: 11/13; */
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  color: goldenrod;
  background: linear-gradient(goldenrod 0 0) 0 100%/0% 3px no-repeat;
  /* animation: loading 2s linear infinite; */
}
@keyframes loading {
  to {
    background-size: 100% 3px;
  }
}
