@import "tailwindcss";
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  color: blue;
  background: linear-gradient(blue 0 0) 0 100%/0% 3px no-repeat;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  to {
    background-size: 100% 3px;
  }
}
